<form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="genre" id="male" value="homme">
            <label class="form-check-label" for="male">
                Homme
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" formControlName="genre" id="female" value="femme">
            <label class="form-check-label" for="female">
                Femme
            </label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="lastName">Nom</label>
            <input type="text" class="form-control" formControlName="lastName" placeholder="Nom">
        </div>
        <div class="form-group col-md-6">
            <label for="firstName">Prénom</label>
            <input type="text" class="form-control" formControlName="firstName" placeholder="Prénom">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="adress">Adresse</label>
            <input type="text" class="form-control" formControlName="adress" placeholder="1234 Place de la Liberté">
        </div>
        <div class="form-group">
            <label for="zipCode">Code postal</label>
            <input type="text" class="form-control" formControlName="zipCode" placeholder="29200">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="city">Ville</label>
            <input type="text" class="form-control" formControlName="city" placeholder="Brest">
        </div>
        <div class="form-group col-md-4">
            <label for="email">E-mail</label>
            <input type="text" formControlName="email" class="form-control" placeholder="votreEmail@email.com">
        </div>
        <div class="form-group col-md-2">
            <label for="mobile">Téléphone mobile</label>
            <input type="text" class="form-control" formControlName="mobile" placeholder="06 06 06 06 06">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sauvegarder</button>
</form>