<app-nav-menu></app-nav-menu>

<div class="row">
    <div class="col-md-12">
        <button *ngIf="auth.authToken && isBlogOwner" class="btn btn-warning" (click)="onCreatePost()">Ecrivez un
            post dans
            votre
            blog</button>

        <button *ngIf="auth.authToken && isBlogOwner" class="btn btn-warning" (click)="onEdit = true">Editez le titre et
            la description de votre blog</button>

        <div *ngIf="auth.authToken && isBlogOwner && onEdit">
            <form [formGroup]="editBlogForm" (ngSubmit)="onEditBlog()">
                <div>
                    <label for="title">Titre du blog</label>
                    <quill-editor type="text" formControlName="title"></quill-editor>
                </div>
                <div>
                    <label for="content" for="title">Contenu du blog></label>
                    <quill-editor type="text" formControlName="description"></quill-editor>
                </div>
                <button type="submit">Créer votre blog</button>
            </form>
        </div>

        <div *ngIf="blog">
            <div style="width: 60%; margin: auto;">
                <h1 [innerHTML]="blog.title"></h1>
            </div>
            <div style="width: 80%; margin: auto;">
                <h3 [innerHTML]="blog.content"></h3>
            </div>
            <div *ngIf="blog.posts">
                <div *ngFor="let post of blog.posts">
                    <p [innerHTML]="post.title"></p>
                    <p [innerHTML]="post.content"></p>
                    <p>Ecrit par {{post.author}}</p>
                    <p>Le {{post.date}}</p>
                    <button (click)="onNavigate(post)">Voir ce post</button>
                </div>
            </div>
        </div>
    </div>
</div>