<app-nav-menu></app-nav-menu>

<div class="row">
    <div class="col-md-12">
        <button *ngIf="isBlogOwner" class="btn btn-warning" (click)="onCreatePost()">Ecrivez un
            post dans
            votre
            blog</button>

        <button *ngIf="isBlogOwner" class="btn btn-warning" (click)="onEdit = true">Editez le titre et
            la description de votre blog</button>

        <div *ngIf="isBlogOwner && onEdit">
            <form [formGroup]="editBlogForm" (ngSubmit)="onEditBlog()">
                <div>
                    <label for="title">Titre du blog</label>
                    <quill-editor type="text" formControlName="title"></quill-editor>
                </div>
                <div>
                    <label for="content" for="title">Contenu du blog></label>
                    <quill-editor type="text" formControlName="description"></quill-editor>
                </div>
                <button type="submit">Sauvegarder</button>
            </form>

            <button class="btn btn-danger" (click)="onDeleteBlog()">Supprimer ce blog</button>
        </div>

        <div *ngIf="blog">
            <div style="width: 60%; margin: auto;">
                <h1 [innerHTML]="blog.title"></h1>
            </div>
            <div style="width: 60%; margin: auto;">
                <h2>Auteur : {{blog.authorId}}</h2>
            </div>
            <div style="width: 80%; margin: auto;">
                <h3 [innerHTML]="blog.description"></h3>
            </div>

            <div *ngIf="blog.posts">
                <div *ngFor="let post of blog.posts">
                    <div class="card bg-default" style="margin-bottom: 20px;">
                        <h2 class="card-header" [innerHTML]="post.title"></h2>
                        <div class="card-body">
                            <h3>Auteur : {{post.author}}</h3>
                            <p>Le {{post.date}}</p>
                        </div>
                        <div class="card-body">
                            <p class="card-text" [innerHTML]="post.content"></p>
                        </div>
                        <div style="width: 100%; margin: auto;">

                            <button (click)="onNavigate(blog._id, post)" style="margin:10px; font-size: 15px; width: 30%;"
                                class="btn btn-primary">Voir le
                                post</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>