<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="#">
                <fa-icon [icon]="faInstragramSquare"></fa-icon>
            </a>
            <a href="#">
                <fa-icon [icon]="faSnapChatSquare"></fa-icon>
            </a>
            <a href="#">
                <fa-icon [icon]="faTwitterSquare"></fa-icon>
            </a>
            <a href="#">
                <fa-icon [icon]="faFaceBookSquare"></fa-icon>
            </a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Conditions générales</a></li>
            <li class="list-inline-item"><a href="#">Mentions légales</a></li>
        </ul>
        <p class="copyright">Site concu par l'équipe HufflePuff :</p>
        <p class="copyright">Elouan MARQUET - Nicolas Kerbourc'h - Pascal BERTRAND</p>
    </footer>
</div>