<div class="main-content">
  <div class="post-display">
    <button *ngIf="isPostOwner" class="btn btn-warning" (click)="onEdit = !onEdit">Editez le titre et
      le contenu de votre post</button>

    <div *ngIf="onEdit">
      <form [formGroup]="editPostForm" (ngSubmit)="onEditPost()">
        <div>
          <label for="title">Titre de votre post</label>
          <quill-editor type="text" formControlName="title"></quill-editor>
        </div>
        <div>
          <label for="content">Votre contenu</label>
          <quill-editor type="text" formControlName="content"></quill-editor>
        </div>
        <button type="submit">Créer votre post</button>
      </form>
    </div>

    <div *ngIf="isLoaded" class="post-module">
      <h2 [innerHTML]="post.title" class="post-title"></h2>
      <p [innerHTML]="post.content" class="post-content"></p>
      <p class="post-date">Le {{post.date}}</p>
    </div>

    <div class="post-comment">
      <div *ngIf="auth.authToken">
        <p>Réagir :</p>
        <form [formGroup]="commentCreationForm" (ngSubmit)="onCreateComment()">
          <textarea formControlName="content" cols="80" rows="5" class="comment"></textarea>
          <button type="submit" class="btn btn-primary">Réagir</button>
        </form>
      </div>
      <div *ngIf="isLoaded">
        <p>Soyez le premier à réagir !</p>
      </div>
      <div *ngIf="post.comments.length > 0">
        <p>Ils ont réagit :</p>
        <hr>
        <div *ngFor="let comment of post.comments">
          <app-comments [comment]="comment" [postId]="postId"></app-comments>
        </div>
      </div>
    </div>
    <div *ngIf="post.comments.length === 0">
    </div>
  </div>
</div>