.main-content{
  margin-right: unset;
  margin-left: unset;
}

.post-display {
  margin: 0 250px 0 250px;
  background-color: white;
  min-height: 100vh;
}

.post-module {
  margin: 0 auto;
  width: 60%;
  padding-top: 15px;
}

.post-title {
  text-align: center;
}

.post-content {
  margin: 0 50px 0 50px;
  text-align: justify;
}

.post-comment {
  margin: 0 250px 0 250px;
  padding-bottom: 50px;
}

.comment-prompt{
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
}

.comment{
  resize: none;
}