.post-display {
  margin: 0 250px 0 250px;
  background-color: white;
  min-height: 100vh;
}

.post-module {
  margin: 15px auto;
  width: 60%;
}

.post-title {
  text-align: center;
}

.post-content {
  margin: 0 50px 0 50px;
}

.post-comment {
  margin: 0 250px 0 250px;
}

.comment{
  resize: none;
}