/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';


body {
    font-size: 15px;
    background: rgb(0,83,163);
    background: linear-gradient(90deg, rgba(0,83,163,1) 20%, rgba(10,9,176,1) 50%, rgba(0,83,163,1) 80%);
}


h1 {
    font-size: 40px;
}

h2{
    font-size: 32px;
}