<app-nav-menu></app-nav-menu>

<div class="container">
    <div class="row align-items-center">
        <div class="col-md">
            <div class="md-form">
                <input style=" margin: 5px;" type="search" [(ngModel)]="searchText" placeholder="Search text">
            </div>
            <button *ngIf="auth.authToken" class="btn btn-warning" routerLink="/blog-creation"
                style=" margin: 5px;">Créez votre blog</button>
            <h3 style="text-align: center; margin: 15px;">Liste des blogs</h3>
            <ul class="list-group" *ngFor="let blog of (blogs | filter: searchText)">

                <div class="card col-md align-self-center" style="width: 50%;">
                    <div class="card-body">
                        <h5 class="card-title" [innerHTML]="blog.title"></h5>
                        <p class="card-text" [innerHTML]="blog.content"></p>
                        <a (click)="onNavigate(blog)" class="btn btn-primary">Voir le blog</a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>