<app-nav-menu></app-nav-menu>

<div class="row">
    <div class="col-md-5">
        <button class="btn btn-warning" routerLink="/blog-creation">Créez votre blog</button>
        <h2>Liste des blogs</h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let blog of blogs" (click)="selectBlog(blog)"
                [class.active]="blog === selectedBlog">
                {{blog.title}}
            </li>
        </ul>
        
    </div>
    <div class="col-md-5 col-md-offset-2">
    </div>
</div>