<app-nav-menu></app-nav-menu>

<div class="row">
    <div class="col-md-5">
        <div class="md-form">
            <input type="search" [(ngModel)]="searchText" placeholder="Search text">
        </div>
        <button *ngIf="auth.authToken" class="btn btn-warning" routerLink="/blog-creation">Créez votre blog</button>
        <h2>Liste des blogs</h2>
        <div class="row">
            <ul class="list-group" *ngFor="let blog of (blogs | filter: searchText)">
                <li class="list-group-item" (click)="selectBlog(blog)" [class.active]="blog === selectedBlog">
                    <div [innerHTML]="blog.title">
                    </div>
                    <div [innerHTML]="blog.content">
                    </div>
                </li>
            </ul>

        </div>

    </div>
    <div class="col-md-5 col-md-offset-2">
    </div>
</div>