.blog-list{
    cursor: pointer;
}
h1 {
    text-align: center;
    margin: 25px;
}

p{
    max-height: 100px;
    overflow: hidden;
}

button{
    background-color: #0053a3;
    font-size: 15px;
}

.main-content{
  min-height: 100vh;
}
