// css for window/card
.clr{
  background-color: #ECECEC;
  margin-top: auto;
  font-family: "Montserrat";
}

// page setting for gender
.space{
  padding-bottom: 10px;
}

// creation de compte
h5{
  text-align: center;
  font-size: 30px;
  font-family: "Montserrat";
  padding: 15px;
}
