<ul class="nav nav-pills">
    <li class="nav-item">
        <button routerLink="/accueil" routerLinkActive="active" class="nav-link">Accueil</button>
    </li>
    <li class="nav-item">
        <button routerLink="/blog" routerLinkActive="active" class="nav-link">Blog</button>
    </li>
    <li class="nav-item">
        <button routerLink="/activites" routerLinkActive="active" class="nav-link">Activités et jeux</button>
    </li>
    <li class="nav-item">
        <button routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</button>
    </li>
    
    <button (click)="loginOpen = !loginOpen">Se connecter / Créer un compte</button>

    <div *ngIf="loginOpen">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
                <label for="login">Votre identifiant</label>
                <input formControlName="login" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Votre mot de passe</label>
                <input formControlName="password" class="form-control">
            </div>
            <button type="submit">Se connecter</button>
        </form>
        <hr>
        <button routerLink="/accountCreation">Ou si vous souhaitez créer un compte</button>
    </div>
</ul>