<div class="main-content">
  <button *ngIf="auth.authToken && user.adminLevel ==='admin'" routerlink="/news-creation">Ecrire un nouvel
    article</button>
  <div class="news-display">
    <div class="card news">
      <h2 class="card-header">Actualités COVID : La vaccination s'accélère.</h2>
      <div class="card-body">
        <p>La ville de Calais (Pas-de-Calais) souhaite multiplier le rythme de la vaccination par six.
          L’objectif pour l’un
          des centres de vaccination de la ville est de passer de 300 personnes vaccinées par semaine à 1 800 grâce à
          l’arrivée de doses supplémentaires. Les équipes se préparent à vacciner tout le week-end. Pour accélérer la
          cadence, 135 000 doses ont été envoyées en urgence aux 23 départements les plus touchés par l’épidémie. ...
        </p>
        <h3>À Paris, 11 000 doses de vaccin supplémentaires </h3>
        <p>Les vaccins AstraZeneca ont été reçus dans la matinée, vendredi 5 mars. À la mairie de Calais, les appels
          téléphoniques se succèdent sans interruption. Les habitants sur liste d’attente se précipitent pour réserver
          les
          nouveaux créneaux, mais tout est déjà complet. À Paris, 11 000 doses de vaccin supplémentaires ont été reçues
          et
          des centres de vaccination éphémères ont vu le jour.</p>
      </div>
      <button class="btn btn-primary">Voir cet article</button>
    </div>
    <div class="card news">
      <h2 class="card-header">Actualités COVID : La vaccination s'accélère.</h2>
      <div class="card-body">
        <p>La ville de Calais (Pas-de-Calais) souhaite multiplier le rythme de la vaccination par six.
          L’objectif pour l’un
          des centres de vaccination de la ville est de passer de 300 personnes vaccinées par semaine à 1 800 grâce à
          l’arrivée de doses supplémentaires. Les équipes se préparent à vacciner tout le week-end. Pour accélérer la
          cadence, 135 000 doses ont été envoyées en urgence aux 23 départements les plus touchés par l’épidémie. ...
        </p>
        <h3>À Paris, 11 000 doses de vaccin supplémentaires </h3>
        <p>Les vaccins AstraZeneca ont été reçus dans la matinée, vendredi 5 mars. À la mairie de Calais, les appels
          téléphoniques se succèdent sans interruption. Les habitants sur liste d’attente se précipitent pour réserver
          les
          nouveaux créneaux, mais tout est déjà complet. À Paris, 11 000 doses de vaccin supplémentaires ont été reçues
          et
          des centres de vaccination éphémères ont vu le jour.</p>
      </div>
      <button class="btn btn-primary">Voir cet article</button>
    </div>
    <div class="card news">
      <h2 class="card-header">Actualités COVID : La vaccination s'accélère.</h2>
      <div class="card-body">
        <p>La ville de Calais (Pas-de-Calais) souhaite multiplier le rythme de la vaccination par six.
          L’objectif pour l’un
          des centres de vaccination de la ville est de passer de 300 personnes vaccinées par semaine à 1 800 grâce à
          l’arrivée de doses supplémentaires. Les équipes se préparent à vacciner tout le week-end. Pour accélérer la
          cadence, 135 000 doses ont été envoyées en urgence aux 23 départements les plus touchés par l’épidémie. ...
        </p>
        <h3>À Paris, 11 000 doses de vaccin supplémentaires </h3>
        <p>Les vaccins AstraZeneca ont été reçus dans la matinée, vendredi 5 mars. À la mairie de Calais, les appels
          téléphoniques se succèdent sans interruption. Les habitants sur liste d’attente se précipitent pour réserver
          les
          nouveaux créneaux, mais tout est déjà complet. À Paris, 11 000 doses de vaccin supplémentaires ont été reçues
          et
          des centres de vaccination éphémères ont vu le jour.</p>
      </div>
      <button class="btn btn-primary">Voir cet article</button>
    </div>
    <div class="card news">
      <h2 class="card-header">Actualités COVID : La vaccination s'accélère.</h2>
      <div class="card-body">
        <p>La ville de Calais (Pas-de-Calais) souhaite multiplier le rythme de la vaccination par six.
          L’objectif pour l’un
          des centres de vaccination de la ville est de passer de 300 personnes vaccinées par semaine à 1 800 grâce à
          l’arrivée de doses supplémentaires. Les équipes se préparent à vacciner tout le week-end. Pour accélérer la
          cadence, 135 000 doses ont été envoyées en urgence aux 23 départements les plus touchés par l’épidémie. ...
        </p>
        <h3>À Paris, 11 000 doses de vaccin supplémentaires </h3>
        <p>Les vaccins AstraZeneca ont été reçus dans la matinée, vendredi 5 mars. À la mairie de Calais, les appels
          téléphoniques se succèdent sans interruption. Les habitants sur liste d’attente se précipitent pour réserver
          les
          nouveaux créneaux, mais tout est déjà complet. À Paris, 11 000 doses de vaccin supplémentaires ont été reçues
          et
          des centres de vaccination éphémères ont vu le jour.</p>
      </div>
      <button class="btn btn-primary">Voir cet article</button>
    </div>
    <div class="card news">
      <h2 class="card-header">Actualités COVID : La vaccination s'accélère.</h2>
      <div class="card-body">
        <p>La ville de Calais (Pas-de-Calais) souhaite multiplier le rythme de la vaccination par six.
          L’objectif pour l’un
          des centres de vaccination de la ville est de passer de 300 personnes vaccinées par semaine à 1 800 grâce à
          l’arrivée de doses supplémentaires. Les équipes se préparent à vacciner tout le week-end. Pour accélérer la
          cadence, 135 000 doses ont été envoyées en urgence aux 23 départements les plus touchés par l’épidémie. ...
        </p>
        <h3>À Paris, 11 000 doses de vaccin supplémentaires </h3>
        <p>Les vaccins AstraZeneca ont été reçus dans la matinée, vendredi 5 mars. À la mairie de Calais, les appels
          téléphoniques se succèdent sans interruption. Les habitants sur liste d’attente se précipitent pour réserver
          les
          nouveaux créneaux, mais tout est déjà complet. À Paris, 11 000 doses de vaccin supplémentaires ont été reçues
          et
          des centres de vaccination éphémères ont vu le jour.</p>
      </div>
      <button class="btn btn-primary">Voir cet article</button>
    </div>
    <div class="card news">
      <h2 class="card-header">Actualités COVID : La vaccination s'accélère.</h2>
      <div class="card-body">
        <p>La ville de Calais (Pas-de-Calais) souhaite multiplier le rythme de la vaccination par six.
          L’objectif pour l’un
          des centres de vaccination de la ville est de passer de 300 personnes vaccinées par semaine à 1 800 grâce à
          l’arrivée de doses supplémentaires. Les équipes se préparent à vacciner tout le week-end. Pour accélérer la
          cadence, 135 000 doses ont été envoyées en urgence aux 23 départements les plus touchés par l’épidémie. ...
        </p>
        <h3>À Paris, 11 000 doses de vaccin supplémentaires </h3>
        <p>Les vaccins AstraZeneca ont été reçus dans la matinée, vendredi 5 mars. À la mairie de Calais, les appels
          téléphoniques se succèdent sans interruption. Les habitants sur liste d’attente se précipitent pour réserver
          les
          nouveaux créneaux, mais tout est déjà complet. À Paris, 11 000 doses de vaccin supplémentaires ont été reçues
          et
          des centres de vaccination éphémères ont vu le jour.</p>
      </div>
      <button class="btn btn-primary">Voir cet article</button>
    </div>
  </div>
</div>